*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{

font-family:Poppins,sans-serif;

height:100vh;

overflow:hidden;

background:linear-gradient(
135deg,
#ff9a9e,
#fad0c4,
#fad0c4,
#ffd1ff
);

background-size:400% 400%;

animation:bg 15s ease infinite;

}

@keyframes bg{

0%{

background-position:0% 50%;

}

50%{

background-position:100% 50%;

}

100%{

background-position:0% 50%;

}

}


.page{
    position:absolute;
    width:100%;
    height:100%;
    display:none;
    justify-content:center;
    align-items:center;
    transition:1s;
    overflow:hidden;
}


.page.active{

display:flex;

}

.glass{

width:400px;

max-width:90%;

padding:45px;

border-radius:25px;

background:rgba(255,255,255,.2);

backdrop-filter:blur(15px);

box-shadow:0 10px 40px rgba(0,0,0,.15);

text-align:center;

}

h1{

font-family:Pacifico;

font-size:42px;

color:white;

margin-bottom:15px;

}

.subtitle{

margin-bottom:30px;

color:white;

}

p{

color:white;

margin-bottom:15px;

}

input{

width:100%;

padding:15px;

font-size:22px;

text-align:center;

border:none;

border-radius:15px;

margin-bottom:25px;

outline:none;

}

button{

width:100%;

padding:15px;

border:none;

border-radius:50px;

background:white;

color:#ff4d88;

font-size:18px;

cursor:pointer;

transition:.3s;

font-weight:bold;

}

button:hover{

transform:translateY(-3px);

box-shadow:0 10px 25px rgba(0,0,0,.2);

}

#error{

margin-top:15px;

color:#fff;

font-weight:bold;

height:20px;

}


.heart{

position:absolute;

color:white;

animation:float linear forwards;

opacity:.8;

}

@keyframes float{

from{

transform:translateY(100vh);

opacity:1;

}

to{

transform:translateY(-120px);

opacity:0;

}

}



.cake-container{

text-align:center;

animation:fadeIn 1s;

}

.cake-title{

font-size:55px;

margin-bottom:20px;

}

.cake-text{

font-size:22px;

margin-bottom:30px;

color:white;

}

.cake-wrapper{

position:relative;

display:inline-block;

margin-bottom:40px;

}

.cake{

width:320px;

animation:bounce 3s infinite;

}

@keyframes bounce{

0%,100%{

transform:translateY(0);

}

50%{

transform:translateY(-15px);

}

}

.flame{

position:absolute;

width:15px;

height:30px;

background:gold;

border-radius:50%;

filter:blur(1px);

animation:flicker .25s infinite alternate;

}

.flame1{

left:95px;

top:20px;

}

.flame2{

left:155px;

top:8px;

}

.flame3{

left:215px;

top:20px;

}

@keyframes flicker{

from{

transform:scale(.9);

opacity:.8;

}

to{

transform:scale(1.2);

opacity:1;

}

}


@keyframes fadeIn{

from{

opacity:0;

transform:translateY(40px);

}

to{

opacity:1;

transform:translateY(0);

}

}





.celebration{

text-align:center;

}

.celebrate-title{

margin-bottom:30px;

}

.cake-cut-area{

position:relative;

display:inline-block;

margin:30px;

}

#cakeImage{

width:320px;

transition:1s;

}



.cake-cut{

transform:
rotate(-6deg)
scale(.95);

opacity:.85;

}

#celebrateMessage{

margin-top:30px;

font-size:40px;

font-family:Pacifico;

color:white;

min-height:60px;

}

#memoryBtn{

    display:none;

    opacity:0;

    transition:opacity 1s ease;

}

#cakeVideo{

width:350px;

display:block;

margin:auto;

border:310px;

}


/* ===========================
MEMORY PAGE
=========================== */

#page4{
    width:100%;
    height:100dvh;
}

.memory-container{
    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;

    align-items:center;
    justify-content:flex-start;

    padding:185px 15px;

    overflow:hidden;
}


/* ===========================
MEMORY HEADING
=========================== */

.memory-heading{
    font-family:Pacifico;
    font-size:45px;
    line-height:1.15;

    color:white;
    text-align:center;

    margin:0 0 3px 0;

    flex-shrink:0;
}

.memory-subtitle{
    font-family:Poppins,sans-serif;
    font-size:20px;
    line-height:1.25;

    color:white;
    text-align:center;

    margin:0 0 8px 0;

    flex-shrink:0;
}


/* ===========================
MEMORY CARD
=========================== */

.polaroid{
    width:600px;
    max-width:200vw;

    background:white;

    padding:12px;

    border-radius:1px;

    box-shadow:
        0 12px 30px rgba(0,0,0,.20);

    transform:rotate(-2deg);

    flex-shrink:0;

    transition:.5s;

    overflow:hidden;
}

.polaroid:hover{
    transform:rotate(0deg) scale(1.02);
}


/* ===========================
MEMORY IMAGE
=========================== */

.polaroid img{
    width:400px;

    height:300px;

    display:block;

    object-fit:contain;

    background:#fafafa;

    border-radius:2px;
	
	margin:0 auto;
}


/* ===========================
MEMORY TEXT
=========================== */

.polaroid-text{
    padding:8px 5px 2px;

    text-align:center;
}

.polaroid-text h2{
    font-family:Pacifico;

    font-size:22px;

    line-height:1.1;

    color:#ff4d88;

    margin:0 0 5px 0;
}

.polaroid-text p{
    color:#666;

    font-size:13px;

    line-height:1.3;

    margin:0 0 5px 0;
}

.polaroid-text span{
    color:#555;

    font-size:13px;
}


/* ===========================
PHOTO ANIMATIONS
=========================== */

.fadeIn{
    animation:fadeMemory 1.2s;
}

@keyframes fadeMemory{

    from{
        opacity:0;
        transform:scale(.92);
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}


.slideIn{
    animation:slideMemory 1s;
}

@keyframes slideMemory{

    from{
        opacity:0;
        transform:translateX(100px);
    }

    to{
        opacity:1;
        transform:translateX(0);
    }

}


.zoomIn{
    animation:zoomMemory 1s;
}

@keyframes zoomMemory{

    from{
        opacity:0;
        transform:scale(.75);
    }

    to{
        opacity:1;
        transform:scale(1);
    }

}


.rotateIn{
    animation:rotateMemory 1s;
}

@keyframes rotateMemory{

    from{
        opacity:0;
        transform:rotate(-10deg);
    }

    to{
        opacity:1;
        transform:rotate(-2deg);
    }

}


/* ===========================
LETTER BUTTON
=========================== */

.letterBtn{

    display:none;

    width:220px;
	height:48px;

    padding:10px 20px;

    margin-top:10px;

    flex-shrink:0;

    font-family:Poppins,sans-serif;

    font-size:16px;

    font-weight:bold;

    background:linear-gradient(
        135deg,
        #ff4f87,
        #ff82b4
    );

    color:white;

    border:none;

    border-radius:40px;

    cursor:pointer;

    opacity:0;

    box-shadow:
        0 8px 20px rgba(255,105,180,.35);

    transition:
        opacity .8s ease,
        transform .3s ease;
}

.letterBtn:hover{
    transform:scale(1.06);
}



#dots{

margin-top:20px;

}

.dot{

display:inline-block;

width:6px;

height:12px;

border-radius:25%;

background:white;

opacity:.3;

margin:6px;

transition:.4s;

}

.dot.active{

opacity:1;

background:#ff4d88;

transform:scale(1.5);

}




/* ===========================
LETTER PAGE
=========================== */

.letter-container{

    width:100%;
    height:100vh;

    display:flex;
    flex-direction:column;

    justify-content:center;
    align-items:center;

}


/* Envelope */

.envelope{

    width:220px;
    height:140px;

    position:relative;

    cursor:pointer;

    margin-top:20px;

}

/*.body{

    position:absolute;

    width:100%;
    height:100%;

    background:#ff7ca8;

    border-radius:10px;

}*/

/*.flap{

    position:absolute;

    top:0;
    left:0;

    width:0;
    height:0;

    border-left:110px solid transparent;
    border-right:110px solid transparent;

    border-top:70px solid #ffb0cc;

    transform-origin:top;

    transition:0.8s;

}*/

.tapText{

    position:absolute;

    width:100%;

    text-align:center;

    top:160px;

    color:white;

}


/* ===========================
   LETTER PAPER
=========================== */

.letter-paper{

    display:none;

    width:90%;

    max-width:700px;

    max-height:70vh;

    padding:35px 45px;

    overflow-y:auto;

    background:rgba(255,255,255,0.92);

    border-radius:20px;

    color:#555;

    text-align:left;

    line-height:1.8;

    box-shadow:0 15px 40px rgba(0,0,0,0.15);

    animation:letterAppear 1s ease forwards;

}


/* Letter Heading */

.letter-paper h2{

    color:#ff4d88;

    margin-bottom:20px;

    text-align:center;

}

/* ===========================
   INVISIBLE TYPING BOX
=========================== */

.typing-box{

    width:100%;

    max-width:600px;

    margin:0 auto;

    background:transparent;

    border:none;

    box-shadow:none;

}


/* Text inside invisible box */

.typing-box p#typingText{

    width:100%;

    margin:0;

    padding:0;

    color:#555;

    text-align:left;

    white-space:pre-wrap;

    overflow-wrap:break-word;

    word-break:normal;

    line-height:1.8;

}





/* Letter appearance */

@keyframes letterAppear{

    from{

        opacity:0;

        transform:translateY(40px);

    }

    to{

        opacity:1;

        transform:translateY(0);

    }

}

